@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Shared Styles */
:root {
    --black: #0B0223;
    --pink: #FF42A5;
    --p-text: #534C64;
}

.middle-box {
    max-width: 1140px;
    margin: 0 auto;
}

.linear-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.highlight {
    color: var(--pink);
}

.btn-primary {
    border-radius: 48px;
    background: var(--pink);
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    padding: 20px 45px;
    margin: 1rem 0;
    cursor: pointer;
}

.btn-secondary {
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    padding: 20px 45px;
    margin-left: 0.8rem;
    cursor: pointer;
}

.section-title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--black);
    margin: 1.7rem 0;
}

.cmn-description {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 400;
}


/* Header Styles */
nav {
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 0.5rem 0;
}

nav .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title,
nav ul {
    display: flex;
    align-items: center;
}

.nav-title img {
    width: 86.041px;
    height: 40px;
}

.nav-title h2 {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--black);
    margin: 0;
    margin-left: 0.8rem;
}

nav li {
    font-size: 1.25rem;
    font-weight: 500;
    list-style: none;
    margin-right: 1.8rem;
}

nav a {
    color: #3C354F;
    text-decoration: none;
}

nav .follow-us-box {
    display: flex;
    padding: 1rem 0 1rem 1rem;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

nav .youtube {
    color: red;
}

.header-content {
    background-image: url("images/Group\ 14.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 60%;
}

.header-main-content {
    padding: 6.5rem 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container h2 {
    color: var(--black);
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}

.header-container h1 {
    font-size: 5.9rem;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0.8rem 0 1.6rem;
}

.header-container p {
    color: var(--p-text);
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
}

.header-container img {
    position: relative;
    bottom: 0px;
    right: 0px;
    width: 50%;
}


/* We are gamer */
.we-are-gamer {
    padding: 5rem 0;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}

.we-are-gamer-container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.we-are-gamer-container img {
    width: 55%;
    height: auto;
}

.we-are-gamer-content {
    text-align: right;
}

.we-are-gamer-content p {
    color: var(--p-text);
    font-size: 1.25rem;
    margin: 0.5rem 0;
}

.we-are-gamer-content h4 {
    font-size: 1.5rem;
    color: #534C64;
    ;
}


/* Online game section */
.online-games-container {
    padding: 5rem 0;
}

.online-games-container>h2,
.online-games-container>p {
    text-align: center;
    margin-bottom: 1.6rem;
}

.online-games-img-container {
    margin-top: 3rem;
    display: flex;
    gap: 1.4rem;
    flex: 1;
}


.online-games-img-container .img-card {
    width: 100%;
    height: 400px;
}

.img-card>p {
    color: #454052;
    font-size: 1.25rem;
    font-weight: 500;
}

.online-games-img-container .img-box {
    position: relative;
}

.online-games-img-container .img-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.watch-now-box {
    visibility: hidden;
    position: absolute;
    width: 97%;
    height: 97%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 5px solid var(--pink);
}

.watch-now-box>span {
    color: #fff;
    font-size: 2.8rem;
}

.watch-now-box p {
    color: var(--pink);
    font-size: 1.25rem;
    margin: 1rem;
    font-weight: 600;
}

.img-box:hover .watch-now-box {
    visibility: visible;
    cursor: pointer;
}

/* Play instant section styles */
.play-instant {
    padding: 7rem 0;
    gap: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.play-instant-content {
    padding-right: 2rem;
}

.play-instant-img-box {
    height: 650px;
}

.play-instant-second-img {
    background-color: #fff;
    position: relative;
    width: 290px;
    height: 330px;
    border: 0.4rem solid #fff;
    top: -250px;
    left: -140px;

}

/* Catagories styles */
.categories {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}

.categories-container {
    margin-top: 5rem;
    padding: 7rem 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.2rem;
}

.categories-card {
    display: flex;
    border: 1.5px solid transparent;
    border-radius: 50px;
    padding: 4px 10px;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.categories-card:hover {
    border: 1.5px solid var(--pink);
    transition: 0.7s;
}

.categories-card>img {
    height: 50px;
    width: 50px;
}

.categories-card>h4 {
    color: #0B0223;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0;
    margin-left: 1rem;
}


/* Footer styles */
footer {
    text-align: center;
    padding: 4rem 1rem;
    background: #0B0223;
    display: flex;
    flex-direction: column;
}

.footer-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-title img {
    width: 86.041px;
    height: 40px;
}

.footer-title>h2 {
    font-size: 2.8rem;
    font-weight: 700;
    color: #fff;
    margin-left: 0.8rem;
}

.footer-page-links,
.terms-and-conditions,
.social-links {
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.footer-page-links li,
.terms-and-conditions li,
.social-links {
    list-style: none;
}

.footer-page-links a,
.terms-and-conditions a {
    text-decoration: none;
    cursor: pointer;
}

.footer-page-links a,
.social-links {
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
}

.social-links li {
    font-size: 1.8rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.terms-and-conditions li{
    margin-left: 2rem;
}

.terms-and-conditions a,
.copy-rights {
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
}




/* Media Quires */
/* Mobile Devices Responsive*/

@media screen and (max-width: 576px) {

    .nav-container,
    nav ul,
    .header-container,
    .online-games-img-container,
    .play-instant {
        flex-direction: column;
    }

    nav ul {
        gap: 1rem;
    }

    .header-content {
        background-size: 150%;
    }

    .header-container img {
        position: static;
        width: 90%;
    }

    .we-are-gamer-container {
        flex-direction: column-reverse;
        align-items: center;
        padding: 0 1rem;
    }

    .we-are-gamer-container img {
        width: 90%;
    }

    .we-are-gamer-content {
        text-align: center;
    }

    .online-games-img-container {
        padding: 0 1rem;
    }

    .online-games-img-container .img-card {
        height: auto;
    }

    .watch-now-box {
        width: 98%;
        height: 98%;
    }

    .play-instant {
        padding: 1rem 0;
        text-align: center;
        gap: 2rem;
    }

    .play-instant-content {
        padding-right: 0;
    }

    .play-instant-img-box {
        padding: 0 3rem;
    }

    .play-instant-main-img {
        width: 100%;
        height: auto;
    }

    .play-instant-second-img {
        width: 40%;
        height: auto;
        top: -20%;
        left: -40%;

    }

    .categories-container {
        margin-top: 0;
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 1rem;
    }

    .categories-card>img {
        height: 40px;
        width: 40px;
    }

    .categories-card>h4 {
        font-size: 1rem;
        margin-left: 0.5rem;
    }
}


/* Tablet responsive */

@media screen and (min-width: 577px) and (max-width: 991px) {

    .nav-container,
    .header-container,
    .play-instant {
        flex-direction: column;
    }

    .header-content {
        background-size: 100%;
    }

    .header-container img {
        position: static;
        width: 85%;
    }

    .we-are-gamer-container {
        flex-direction: column-reverse;
        align-items: center;
        padding: 0 1rem;
    }

    .we-are-gamer-container img {
        width: 90%;
    }

    .we-are-gamer-content {
        text-align: center;
    }

    .online-games-img-container .img-card {
        height: auto;
    }

    .online-games-img-container {
        padding: 0 1.4rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .watch-now-box {
        width: 98%;
        height: 98%;
    }

    .play-instant {
        padding: 1rem 0;
        text-align: center;
        gap: 2rem;
    }

    .play-instant-content {
        padding-right: 0;
    }

    .play-instant-img-box {
        padding: 0 3rem;
    }

    .play-instant-second-img {
        width: 40%;
        height: auto;
        top: -25%;
        left: -37%;
    }

    .categories-container {
        grid-template-columns: repeat(3, 1fr);
        padding: 2rem 1rem;
        margin-top: 200px;
    }

    .categories-card>img {
        height: 45px;
        width: 45px;
    }

    .categories-card>h4 {
        font-size: 1rem;
        margin-left: 0.5rem;
    }
}